<div class="card-body">
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-7">Post Title: {{post_title}}</div>
      <div class="col-3">posted by {{user.username}} on {{format_date comment_date}}</div>
    </div>
  </a>
</div>