<div class="card">
  <h2 class="card-header">LOGIN</h2>
  <form id="login" class="card-body login">
    <div class="login-inputs">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-login" />
    </div>
    <div class="login-inputs">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="login-inputs">
      <button class="btn btn-primary" type="submit">LOGIN</button>
    </div>
  </form>
  <br>
  <a href="/signup">Click here to Sign Up</a>
</div>
<script src="/js/login.js"></script>