<div class="card">
  <h2 class="card-header">SIGN UP</h2>
  <form class="card-body thesignup">
    <div class="signup-inputs">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="signup-username" />
    </div>
    <div class="signup-inputs">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="signup-password" />
    </div>
    <div class="signup-inputs">
      <button class="btn btn-primary" type="submit">SIGN UP</button>
    </div>
  </form>
  <br>
  <a href="/login">Login Instead</a>
</div>
<script src="/js/signup.js"></script>