<div class="card">
    <h2 class="card-header">Sign Up</h2>
    <form class="card-body signup-form">
        <div class="form-group">
            <label class="form-label">Username:</label>
            <input class="form-input" type="text" id="signup-username" />
        </div>
        <div class="form-group">
            <label class="form-label">Password:</label>
            <input class="form-input" type="password" id="signup-password" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
    <br>
    <p>Already have an account? Login in <a href="/login">Here!</a></p>
</div>
<script src="/js/signup.js"></script>